@font-face {
    font-family: 'Guthen Bloots';
    src: url('GuthenBlootsPersonalUse.woff2') format('woff2'),
        url('GuthenBlootsPersonalUse.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

